*{
    margin: 0;
    padding: 0px;
}

body {
    background-color: #080808;
    color: white;
}

header{
    width: 1100px;
    height: 70px;
    margin: auto;
    display: flex; 
    align-items: center;

    border-radius: 20px;
    font-family: "IBM Plex Mono", monospace;
    background-color: #1b1b1b;
}

.navigation{
    display: flex;
    gap: 50px;
    margin-left: 100px;
}

.social-links{
    font-size: 20px;
    display: flex;
    gap: 35px;
    margin-left: auto;
    margin-right: 100px;
}   

nav a{
    text-decoration: none;
    color: #9C9C9C;
    font-weight: regular;
}

/*.presentation{
    display: flex;
    width: 538px;
    height: 247px;
    flex-direction: column;
    gap: 10px;
    margin: 201px auto auto 180px;
}

.presentation span{
    width: 307px;
    height: 63px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.presentation h1{
    font-family: "Raleway", sans-serif;
}
.presentation p{
    font-family: "IBM Plex Mono", monospace;
    color: #9C9C9C;    
}*/